In [1]:
!pip install pyarrow
!pip install google-cloud-bigquery

Requirement already satisfied: pyarrow in /Users/fabian/anaconda3/lib/python3.7/site-packages (4.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from pyarrow) (1.18.1)
WARNING: You are using pip version 20.2.3; however, version 21.1.1 is available.
You should consider upgrading via the '/Users/fabian/anaconda3/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: google-cloud-bigquery in /Users/fabian/anaconda3/lib/python3.7/site-packages (2.16.1)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.23.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-cloud-bigquery) (1.28.0)
Requirement already satisfied: proto-plus>=1.10.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-cloud-bigquery) (1.18.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-cloud-bigquery) (1.4.1)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-cloud-bigquery) (2.23.0)
Requirement already satisfied: packaging>=14.3 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-cloud-bigquery) (20.1)
Requirement already satisfied: protobuf>=3.12.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-cloud-bigquery) (3.12.2)
Requirement already satisfied: google-resumable-media<2.0dev,>=0.6.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-cloud-bigquery) (0.7.1)
Requirement already satisfied: six>=1.13.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.14.0)
Requirement already satisfied: pytz in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (2019.3)
Requirement already satisfied: setuptools>=40.3.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (45.2.0.post20200210)
Requirement already satisfied: google-auth<2.0dev,>=1.25.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.30.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.52.0)
Requirement already satisfied: grpcio<2.0dev,>=1.29.0; extra == "grpc" in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.30.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2019.11.28)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.25.8)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.6)
Requirement already satisfied: google-crc32c<0.2dev,>=0.1.0; python_version >= "3.5" in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (0.1.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cffi>=1.0.0 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from google-crc32c<0.2dev,>=0.1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.14.0)
Requirement already satisfied: pyasn1>=0.1.3 in /Users/fabian/anaconda3/lib/python3.7/site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: pycparser in /Users/fabian/anaconda3/lib/python3.7/site-packages (from cffi>=1.0.0->google-crc32c<0.2dev,>=0.1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (2.19)
WARNING: You are using pip version 20.2.3; however, version 21.1.1 is available.
You should consider upgrading via the '/Users/fabian/anaconda3/bin/python -m pip install --upgrade pip' command.

In [2]:
import psycopg2
import pandas as pd

from google.cloud import bigquery
from google.oauth2 import service_account

### Extracting data from PostgreSQL

In [3]:
conn = psycopg2.connect( host = 'localhost', port = 5432, database = 'dvdrental', user = 'postgres' )

In [5]:
cur = conn.cursor()
table = pd.read_sql_query( 'SELECT * FROM public.rental', conn )
cur.close()

In [6]:
conn.close()

In [9]:
table.shape

(16044, 7)

In [7]:
table.dtypes

rental_id                int64
rental_date     datetime64[ns]
inventory_id             int64
customer_id              int64
return_date     datetime64[ns]
staff_id                 int64
last_update     datetime64[ns]
dtype: object

In [8]:
table.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-16 02:30:53
1,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-16 02:30:53
2,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-16 02:30:53
3,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-16 02:30:53
4,6,2005-05-24 23:08:07,2792,549,2005-05-27 01:32:07,1,2006-02-16 02:30:53

### Transforming data

In [14]:
grouping = table.groupby( table[ 'rental_date' ].dt.date ).agg( { 'rental_id': 'count' } ).reset_index().rename( columns = { 'rental_id': 'count' } ).sort_values( by = 'rental_date' )

In [15]:
grouping

   rental_date  count
0   2005-05-24      8
1   2005-05-25    137
2   2005-05-26    174
3   2005-05-27    166
4   2005-05-28    196
5   2005-05-29    154
6   2005-05-30    158
7   2005-05-31    163
8   2005-06-14     16
9   2005-06-15    348
10  2005-06-16    324
11  2005-06-17    325
12  2005-06-18    344
13  2005-06-19    348
14  2005-06-20    331
15  2005-06-21    275
16  2005-07-05     27
17  2005-07-06    504
18  2005-07-07    461
19  2005-07-08    512
20  2005-07-09    513
21  2005-07-10    480
22  2005-07-11    461
23  2005-07-12    495
24  2005-07-26     33
25  2005-07-27    649
26  2005-07-28    620
27  2005-07-29    641
28  2005-07-30    634
29  2005-07-31    679
30  2005-08-01    671
31  2005-08-02    643
32  2005-08-16     23
33  2005-08-17    593
34  2005-08-18    621
35  2005-08-19    628
36  2005-08-20    624
37  2005-08-21    659
38  2005-08-22    626
39  2005-08-23    598
40  2006-02-14    182

### Loading data to BigQuery

In [16]:
credentials = service_account.Credentials.from_service_account_file( 
    '/Users/fabian/Downloads/psychic-light-314420-54078d755af0.json', 
    scopes = [ 'https://www.googleapis.com/auth/cloud-platform' ]
)

In [18]:
client = bigquery.Client( credentials = credentials, project = credentials.project_id )

In [19]:
job_config = bigquery.LoadJobConfig(
    schema = [
        # Supported datatypes: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types
        bigquery.SchemaField( 'rental_date', bigquery.enums.SqlTypeNames.DATE ),
        bigquery.SchemaField( 'count', bigquery.enums.SqlTypeNames.INT64 ),
    ],
    # Drod and re-create table, if exist
    write_disposition = 'WRITE_TRUNCATE',
)

In [20]:
job = client.load_table_from_dataframe(
    grouping, 'databases2.grouping', job_config = job_config
)
job.result()

In [21]:
table = client.get_table( 'databases2.grouping' )
print(
    'Loaded {} rows and {} columns to {}'.format(
        table.num_rows, len( table.schema ), 'databases2.grouping'
    )
)

Loaded 41 rows and 2 columns to databases2.grouping